@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.box {
  --main-bg: conic-gradient(from var(--border-angle), #213, #112 5%, #112 60%, #213 95%);
  border: solid 8px transparent;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    rgb(63, 203, 133),
    rgb(246, 113, 140) 99%,
    transparent
  );
  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}
.info-p {
  font-size: 28px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 0 0.5px 0 #000;
  text-align: center;
}

.box:hover {
  animation-play-state: paused;
}
